@font-face {
	font-family: vcr;
	src: url("resources/vcr.ttf");
}

.name {
	position:absolute;
	text-align:center;
	margin:auto;
	left:45%;
	top:48%;
	color: white;
	font-family: vcr;	
}
.talk {
	font-family: vcr;
	position:absolute;
	text-align:center;
	margin:auto;
	left:47%;
	top:60%;
	color: white;
}
.input {
	position:absolute;
	text-align:center;
	margin:auto;
	left:46%;
	top:56%;
	color: black;
}
#submit {
	position:absolute;
	text-align:center;
	margin:auto;
	left:48.6%;
	top:65%;
	color: black;
}
